wikigaz.tsv
.DS_store
*.pyc
*.bin
lightning_logs
tokenized_files
checkpoints
frameworks/apex
run_*
hyperparameter_tuning/tune
data/mlowner/lowner_gazetteer.json
search/gaz/*.faiss
search/sent/*.faiss
*.db
*.db-journal
search/lownergaz/*.faiss
02_tokenized_datasets
02_tokenized_dataset
03_checkpoints
data_augmentation/models
data/mlowner/lowner_gazetteer_db.json
