wikigaz.tsv
.DS_store
*.pyc
*.bin
lightning_logs
tokenized_files
checkpoints
frameworks/apex
run_*
hyperparameter_tuning/tune
data/mlowner/lowner_gazetteer.json
search/fetahugaz/faiss_index.faiss
search/fetahugaz/*.pkl
search/gaz/faiss_index.faiss
search/gaz/*.pkl
search/sent/faiss_index.faiss
search/sent/*.pkl
experiments/01_performance/search_results/*.pkl
*.db
*.db-journal